.di1{padding: 30px;}
.i1{padding: 15px 60px;
    margin-top: 10px;}
.i2{padding: 15px 60px;
    margin-top: 10px;}
.i3{padding: 15px 60px;
    margin-top: 10px;}
.i4{padding: 30px 60px;
    margin-top: 10px;}

.mec4{display: flex;}
.map{width: 100%;  height: 55vh;}
.dmap{width: 55%;
  }
